<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration Form</title>
</head>
<body>
	<p>Add User Details : </p>
	<form action="#" th:action="@{/saveoffice}" th:object="${officeFormData}"
		method="post">
		<!--  <p>Office Id : <input type="text" th:field="*{officeId}"/></p>-->
		<p>
			Office Name : <input type="text" th:field="*{officeName}" />
		</p>
		<!-- <p>Address id</p><input type="text" th:field="*{addressId}" />-->
		<p>Street
		<input type="text" th:field="*{street}" /></p>
		<p>City
		<input type="text" th:field="*{city}" /></p>
		<p>State
		<input type="text" th:field="*{state}" /></p>
		<p>Country
		<input type="text" th:field="*{country}" /></p>

		<p>
			<input type="submit" value="Submit" />
		</p>
	</form>
  	<p th:text="${userData}"/>

</body>
</html> 